@import "bootstrap";
@import "font-awesome";

body {
	font-family: "Raleway", sans-serif;
}

li {
	button {
		border: none;
		background: none;
		float: right;

		&.complete {
			color: #48962B;
		}

		&.delete {
			color: #8C3C32;
		}
	}
}
